argcomplete==3.2.2
certifi==2024.2.2
charset-normalizer==3.3.2
coverage==7.4.3
idna==3.6
igv-reports==1.12.0
iniconfig==2.0.0
intervaltree==3.1.0
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pluggy==1.4.0
pysam==0.22.0
pytest==8.0.2
pytest-cov==4.1.0
python-dateutil==2.9.0
pytz==2024.1
requests==2.31.0
setuptools==69.1.1
six==1.16.0
sortedcontainers==2.4.0
tzdata==2024.1
urllib3==2.2.1
wheel==0.42.0
